@model treino_mvc.Models.Video

@{
    ViewData["Title"] = "Video";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <section>
            <br/>
            <div>
                <iframe width="800" height="500" src="@ViewData["Link"]"></iframe>
            </div>
            <br/>
            <div>
                <h3>@ViewData["Nome"]</h3><br/>
                <h4>Descrição</h4>
                <p>@ViewData["Descricao"]</p>
            </div>
        </section>
    </div>
    <div class="col-md-2"></div>
