@model treino_mvc.Models.Video

@{
    ViewData["Title"] = "Video";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"></div>
        <section>
            <p class="title-curso">@ViewData["Nome"]</p>
            <div class="card-curso">
                <iframe width="800" height="500" src="@ViewData["Link"]"></iframe>
            </div>
            <div>
                <strong>Descrição</strong>
                <p>@ViewData["Descricao"]</p>
            </div>
        </section>
    </div>
    <div class="col-md-2"></div>
