@model IEnumerable<treino_mvc.Models.Video>

@{
    ViewData["Title"] = "Video";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"></div>
        <section>
            <a href="/Video/CadastrarVideo/@ViewData["idCurso"]" class="btn btn-primary">Cadastrar Novo Video</a>
            <h2>Videos cadastrados</h2>
            @foreach (var listaDeVideosDeUmCurso in Model)
            {
                <div class="card-login">
                    <div>
                        <p>Nome: @listaDeVideosDeUmCurso.Nome</p>
                        <p>Link: @listaDeVideosDeUmCurso.LinkVideo</p>
                        <p>Descrição: @listaDeVideosDeUmCurso.Descricao</p>
                    </div>
                    <div>
                        <a href="/Video/Excluir/@listaDeVideosDeUmCurso.Id" class="btn btn-danger">Excluir</a>
                        <a href="/Video/Editar/@listaDeVideosDeUmCurso.Id" class="btn btn-primary">Editar</a>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-2"></div>