@model IEnumerable<treino_mvc.Models.Curso>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p class="title-curso">Cursos para treinamento dos novos Starters</p>
    <div class="container-curso">
        @foreach (var curso in Model)
        {
            <div class="card-curso">
                <strong>Curso:</strong>
                <p class="nome-curso">@curso.Nome</p>
                <strong>Descrição:</strong>
                <p class="descricao-curso">
                    @curso.Descricao
                </p>
                <a href="/curso/exibircursos/@curso.Id" class="button-curso" type="button">Fazer curso</a>
            </div>
        }
    </div>
</div>
