@model treino_mvc.DTO.CursoDTO;

@{
    ViewData["Title"] = "Cadastrar Curso";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>Cadastrar novo curso</h2>
        <section>
            <div class="card-login">
                <form class="form-horizontal" asp-controller="Curso" asp-action="Salvar" method="POST">
                    <input type="hidden" asp-for="Id" value="@ViewData["aux"]"/>

                    <div class="form-group">
                        <label asp-for="Nome">Nome</label>
                        <input type="text" asp-for="Nome" class="form-control" placeholder="Trabalhando com Entity Framework" />
                        <span asp-validation-for="Nome"></span><br/>
                    </div>

                    <div class="form-group">
                        <label asp-for="Descricao">Descrição</label>
                        <textarea asp-for="Descricao" class="form-control" rows="5" cols="50" placeholder="Framework para fazer mapeamento de banco de dados"></textarea>
                        <span asp-validation-for="Descricao"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="button-curso">Cadastrar</button>
                    </div>

                </form>
            </div>
        </section>
    </div>
    <div class="col-md-2"></div>
</div>