@model IEnumerable<treino_mvc.Models.Curso>

@{
    ViewData["Title"] = "Curso";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <section>
            <br/><a href="/Curso/CadastrarCurso" class="btn btn-primary">Cadastrar Novo Curso</a><br/><br/>
            <h2>Cursos cadastrados</h2><br/>
            @foreach (var curso in Model)
            {
                <div class="card-login">
                    <div>
                        <p>Nome: @curso.Nome</p>
                        <p>Descrição: @curso.Descricao</p>
                    </div>
                    <div>
                        <a href="/Curso/Excluir/@curso.Id" class="btn btn-danger">Excluir</a>
                        <a href="/Curso/Editar/@curso.Id" class="btn btn-primary">Editar</a>
                        <a href="/Video/@curso.Id" class="btn btn-success">Videos</a>
                    </div>
                </div>
                <br/>
            }
        </section>
    </div>
    <div class="col-md-2"></div>
</div>